<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM Application Test Automation test suit">
 <listeners>
   <listener
      class-name="com.qa.extentReportListner.ExtentReportListner"/>
 </listeners>
 <test thread-count="5" name="Free CRM App Tesrr Cases">
    <classes>
      <class name="com.crm.qa.testCases.LoginPageTest"></class>
       <class name="com.crm.qa.testCases.HomePageTest"></class>
      <class name="com.crm.qa.testCases.ContactPageTest"></class>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
